.partner .box {
  display: flex;
}
.partner .box .text h1 {
  font-family: "Noto Serif Georgian", serif;
  font-size: 35px;
  font-weight: 700;
  color: #2e353e;
}
.partner .box .text {
  padding-top: 25px;
  margin-left: 110px;
}
.partner .box .text2 {
  height: 80px;
  margin-left: 90px;
  font-size: 50px;
}
.partner .box .text2 img {
  width: 45%;
}
.partner .box .text3 {
  height: 80px;
  margin-left: -231px;
  margin-top: -20px;
}
