.joinbanner .box {
  display: flex;
  flex-wrap: wrap;
}
.joinbanner .box .img {
  width: 50%;
}
.joinbanner .box img {
  width: 100%;
  height: 517px;
}
.joinbanner .box .text {
  padding: 90px 155px;
}
.joinbanner .box .text h1 {
  font-family: "Nunito Sans", sans-serif;
  font-size: 35px;
  font-weight: 800;
  margin-bottom: 30px;
  color: #000;
}
.joinbanner .box .text h3 {
  font-family: "Nunito Sans", sans-serif;
  font-size: 25px;
  font-weight: 300;
  width: 691px;
  height: 96px;
  margin-bottom: 30px;
}
.joinbanner .box .text h3 span {
  font-family: "Nunito Sans", sans-serif;
  font-size: 25px;
  font-weight: 700;
  width: 691px;
  height: 96px;
}
.joinbanner .box .text button {
  background-color: #fab811;
  color: black;
  width: 178px;
  height: 62px;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 700;
}

.joinbanner .box .img p {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 300;
  width: 751px;
  color: #000;
}
.joinbanner .box .text2 {
  padding: 113px 101px;
}
.joinbanner .box .text2 h1 {
  font-family: "Nunito Sans", sans-serif;
  font-size: 35px;
  font-weight: 800;
  margin-bottom: 20px;
  color: #000;
}
.joinbanner .box .text2 h3 {
  font-family: "Nunito Sans", sans-serif;
  font-size: 22px;
  line-height: 32px;
  font-weight: 300;
  width: 751px;
  height: 96px;
  margin-bottom: 60px;
}
.joinbanner .box .text2 button {
  background-color: transparent;
  border: 2px solid;
  color: black;
  width: 220px;
  height: 56px;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 700;
}

.joinbanner .box .img h5 {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 700;
  width: 590px;
  color: #000;
}
.joinbanner .box .img h6 {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  font-weight: 700;
  width: 750px;
  color: #000;
}

.joinbanner .box .text3 {
  padding: 70px 100px;
}
.joinbanner .box .text3 h1 {
  font-family: "Nunito Sans", sans-serif;
  font-size: 35px;
  font-weight: 800;
  margin-bottom: 20px;
  color: #000;
}
.joinbanner .box .text3 h3 {
  font-family: "Nunito Sans", sans-serif;
  font-size: 22px;
  line-height: 32px;
  font-weight: 300;
  width: 751px;
  height: 16px;
  margin-bottom: 60px;
}
.joinbanner .box .text3 button {
  background-color: transparent;
  border: 2px solid;
  color: black;
  width: 182px;
  height: 56px;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 700;
  margin-top: 150px;
}

.joinbanner .box .text4 {
  padding: 70px 100px;
}
.joinbanner .box .text4 h1 {
  font-family: "Nunito Sans", sans-serif;
  font-size: 35px;
  font-weight: 800;
  margin-bottom: 20px;
  color: #000;
}
.joinbanner .box .text4 h3 {
  font-family: "Nunito Sans", sans-serif;
  font-size: 22px;
  line-height: 32px;
  font-weight: 300;
  width: 750px;
  height: 160px;
  margin-bottom: 60px;
}
.joinbanner .box .text4 button {
  background-color: transparent;
  border: 2px solid;
  color: #000;
  width: 246px;
  height: 46px;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 700;
  transition: 0.4s;
}
.joinbanner .box .text4 button:hover {
  background-color: #fab811;
  border: 2px solid #fab811;
  color: #fff;
  width: 246px;
  height: 46px;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 700;
}
.joinbanner .box .text4 h3 span {
  font-family: "Nunito Sans", sans-serif;
  font-size: 22px;
  font-weight: 700;
  color: #000;
}

.joinbanner .box .text5 {
  padding: 70px 100px;
}
.joinbanner .box .text5 h1 {
  font-family: "Nunito Sans", sans-serif;
  font-size: 35px;
  font-weight: 800;
  margin-bottom: 20px;
  color: #000;
}
.joinbanner .box .text5 h3 {
  font-family: "Nunito Sans", sans-serif;
  font-size: 22px;
  line-height: 32px;
  font-weight: 300;
  width: 751px;
  height: 118px;
  margin-bottom: 60px;
  color: #000;
}
.joinbanner .box .text5 button {
  background-color: transparent;
  border: 2px solid;
  color: black;
  width: 322px;
  height: 47px;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 700;
  transition: 0.4s;
}
.joinbanner .box .text5 button:hover {
  background-color: #fab811;
  border: 2px solid #fab811;
  color: #fff;
  width: 322px;
  height: 47px;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 700;
}
.joinbanner .box .text5 h3 span {
  font-family: "Nunito Sans", sans-serif;
  font-size: 22px;
  font-weight: 700;
  color: #000;
}
