.carousel-indicators [data-bs-target] {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 16px !important;
  height: 16px !important;
  padding: 0;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #fff;
  background-clip: padding-box;
  border: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: 0.5;
  transition: opacity 0.6s ease;
  border-radius: 50%;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100% 100%;
  display: none !important;
}
.carousel-inner {
  z-index: -1;
}
.carousel {
  position: relative;
  padding-top: 30px;
  margin-bottom: 80px;
}

.child h3 {
  width: 700px;
  font-size: 80px !important;
  position: absolute !important;
  top: -710px !important;
  right: -240px;
  font-family: "Noto Serif Georgian", serif;
  font-weight: 800;
  animation: 500ms tb;
}
@keyframes tb {
  from {
    transform: translateY(-250px);
  }
  to {
    transform: translateY(0);
  }
}
.child h4 {
  width: 700px;
  font-size: 80px !important;
  position: absolute !important;
  top: -615px !important;
  right: -240px;
  font-family: "Noto Serif Georgian", serif;
  font-weight: 800;
  animation: 1s h4tb;
}
@keyframes h4tb {
  from {
    transform: translateY(-30px);
  }
  to {
    transform: translateY(0);
  }
}
.child h5 {
  width: 700px;
  font-size: 80px !important;
  position: absolute !important;
  top: -530px !important;
  right: -240px;
  font-family: "Noto Serif Georgian", serif;
  font-weight: 800;
  animation: 1s h5tb;
}
@keyframes h5tb {
  from {
    transform: translateY(-50px);
  }
  to {
    transform: translateY(0);
  }
}
.child p {
  font-size: 41px;
  font-weight: 300;
  position: absolute;
  top: -440px;
  right: -403px;
  width: 1024px;
  animation: 1s ptb;
}
@keyframes ptb {
  from {
    transform: translateY(-50px);
  }
  to {
    transform: translateY(0);
  }
}
.child button {
  background-color: #fab811;
  color: black;
  width: 178px;
  height: 62px;
  border-radius: 5px;
  position: absolute;
  top: -370px;
  right: -210px;
  font-size: 31px;
  font-weight: 500;
  animation: 1.5s btb;
}
@keyframes btb {
  from {
    transform: translateY(-1050px);
  }
  to {
    transform: translateY(0);
  }
}

.water .waterbox {
  display: flex;
  justify-content: left;
}
.water h3 {
  width: 1104px;
  font-size: 80px !important;
  position: absolute !important;
  top: -710px !important;
  left: -150px;
  font-family: "Noto Serif Georgian", serif;
  font-weight: 800;
  animation: 500ms tb;
}
@keyframes tb {
  from {
    transform: translateY(-250px);
  }
  to {
    transform: translateY(0);
  }
}
.water h4 {
  width: 1104px;
  font-size: 80px !important;
  position: absolute !important;
  top: -615px !important;
  left: -200px;
  font-family: "Noto Serif Georgian", serif;
  font-weight: 800;
  animation: 1s h4tb;
}
@keyframes h4tb {
  from {
    transform: translateY(-30px);
  }
  to {
    transform: translateY(0);
  }
}
.water h5 {
  width: 1104px;
  font-size: 80px !important;
  position: absolute !important;
  top: -520px !important;
  left: -270px;
  font-family: "Noto Serif Georgian", serif;
  font-weight: 800;
  animation: 1s h5tb;
}
@keyframes h5tb {
  from {
    transform: translateY(-50px);
  }
  to {
    transform: translateY(0);
  }
}
.water p {
  font-size: 42px;
  font-weight: 300;
  position: absolute;
  top: -420px;
  left: -193px;
  width: 1024px;
  animation: 1s ptb;
}
@keyframes ptb {
  from {
    transform: translateY(-50px);
  }
  to {
    transform: translateY(0);
  }
}
.water button {
  background-color: #fab811;
  color: black;
  width: 178px;
  height: 62px;
  border-radius: 5px;
  position: absolute;
  top: -340px;
  left: -130px;
  font-size: 31px;
  font-weight: 500;
  animation: 1.5s btb;
}
@keyframes btb {
  from {
    transform: translateY(-1050px);
  }
  to {
    transform: translateY(0);
  }
}

.land h3 {
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 78px;
  font-weight: 600;
  position: absolute;
  top: -800px;
  color: black;
  animation: 500ms tb;
}
@keyframes tb {
  from {
    transform: translateY(-250px);
  }
  to {
    transform: translateY(0);
  }
}
.land h4 {
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 78px;
  font-weight: 600;
  position: absolute;
  top: -700px;
  color: black;
  animation: 1s h4tb;
}
@keyframes h4tb {
  from {
    transform: translateY(-30px);
  }
  to {
    transform: translateY(0);
  }
}
.land h5 {
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 78px;
  font-weight: 600;
  position: absolute;
  top: -600px;
  color: black;
  animation: 1s h5tb;
}
@keyframes h5tb {
  from {
    transform: translateY(-50px);
  }
  to {
    transform: translateY(0);
  }
}
.land p {
  font-size: 49px;
  font-weight: 300;
  color: black;
  position: absolute;
  top: -890px;
  left: 153px;
  width: 1024px;
  animation: 1s ptb;
}
@keyframes ptb {
  from {
    transform: translateY(-50px);
  }
  to {
    transform: translateY(0);
  }
}
.land button {
  background-color: #fab811;
  color: black;
  width: 234px;
  height: 62px;
  border-radius: 5px;
  position: absolute;
  top: -500px;
  left: 500px;
  font-size: 31px;
  font-weight: 500;
  animation: 1.5s btb;
}
@keyframes btb {
  from {
    transform: translateY(-1050px);
  }
  to {
    transform: translateY(0);
  }
}
